<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	pre {
		background-color: #f0f0f0;
	}
	#textAreaPaste {
		height: 34px;
	}
	</style>
	
	<!-- highlightjs -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- Socket.io client -->
	<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
	
	<!-- App logic controller -->
	<script src="/javascripts/angular-socket.js"></script>
	<script src="/javascripts/clipboard_app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div class="container-fluid" style="text-align: center; position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.9); border-bottom: 1px solid #ccc; padding: 10px;">
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
					<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search" ng-model="clipSearch" ng-change="onSearchChange()">
				</div>
			</div>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="postsList" class="container">
		<div ng-repeat="clip in board.clips | filter:clipSearch">
			<h4>{{clip.title}} <small>{{clip.owner}} <small>{{clip.time | date:"hh:mm a ', ' MMM d yyyy"}}</small></small></h4>
			<pre><code>{{clip.body}}</code></pre>
			<hr>
		</div>
		<br>
		<br>
		<br>
	</div>
	
	<div class="modal fade" id="username-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Whats your name?</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" id="username" placeholder="Enter your name" ng-model="username">
						<p class="help-block">Type your full name here. E.g. 'John Doe'. This helps identify who posted what.</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveUsername()">Save</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.9); border-top: 1px solid #ccc; padding: 10px;">
		<textarea id="textAreaPaste" class="form-control" rows="1" placeholder="Paste here and then press Shift+Enter to post&hellip;" ng-model="textentry" ng-enter="saveEnteredText()"></textarea>
	</div>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<script>
	$(document).ready(function() {
		var currentScrollPosition = -1;
		$('#textAreaPaste').focus(function() {
			$("#textAreaPaste").animate({
				height: "200px"
			}, 500, function() {
				if ($(window).scrollTop() >= ($(document).height() - $(window).height())) {
					currentScrollPosition = $(document).scrollTop();
					$('#postsList').append("<br><br><br><br><br><br><br><br>");
					$('html, body').animate({scrollTop: $(document).height()}, 1000);
				}
				else {
					currentScrollPosition = -1;
				}
			});
		});
		
		$('#textAreaPaste').focusout(function() {
			$("#textAreaPaste").animate({
				height: "34px"
			}, 500, function() {
				if (currentScrollPosition >= 0) {
					$('html, body').animate({scrollTop: currentScrollPosition}, 500, function() {
						$('#postsList').children("br").remove();
						$('#postsList').append("<br><br><br>");
					});
				}
			});
		});
	});
	</script>
</body>
</html>
