<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	pre {
		background-color: #f0f0f0;
	}
	</style>
	
	<% if (deployment) { %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-60300205-1', 'auto');
		  ga('send', 'pageview');

		</script>
	<% } %>
	
	<!-- highlightjs -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- Socket.io client -->
	<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
	
	<!-- App logic controller -->
	<script src="/javascripts/angular-socket.js"></script>
	<script src="/javascripts/clipboard_app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div id="searchBar" class="container-fluid" style="text-align: center; position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.9); border-bottom: 1px solid #ccc; padding: 10px; z-index: 5;">
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
					<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search" ng-model="clipSearch" ng-change="onSearchChange()">
				</div>
			</div>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="postsList" class="container">
		<div ng-repeat="clip in board.clips | filter:clipSearch">
			<h4>{{clip.title}} <small>{{clip.owner}} <small>{{clip.time | date:"hh:mm a ', ' MMM d yyyy"}}</small></small></h4>
			<pre ng-if="!clip.type"><code>{{clip.body}}</code></pre>
			<a ng-if="clip.type && clip.type == 'webclip'" href="{{clip.body}}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{clip.body}}</a>
			<div ng-if="clip.type && clip.type == 'git'" class="row">
				<div class="col-md-2">
					<img src="/images/github_logo.png" width="77">
				</div>
				<div class="col-md-10" ng-bind-html="getAsHTML(clip.body)">
				</div>
			</div>
			<div ng-if="clip.type && clip.type == 'deployment'" class="row">
				<div class="col-md-2">
					<img src="/images/git_logo.png" width="77">
				</div>
				<div class="col-md-10" ng-bind-html="getAsHTML(clip.body)">
				</div>
			</div>
			<hr>
		</div>
		<br>
		<br>
		<br>
	</div>
	
	<div class="modal fade" id="username-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Whats your name?</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" id="username" placeholder="Enter your name" ng-model="username" ng-enter="saveUsername()">
						<p class="help-block">Type your full name here. E.g. 'John Doe'. This helps identify who posted what.</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveUsername()">Save</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.9); border-top: 1px solid #ccc; padding: 10px; z-index: 10;">
		<textarea id="textAreaPaste" class="form-control" rows="1" placeholder="Paste here and then press Shift+Enter to post or press Escape to cancel&hellip;" ng-model="textentry" ng-shift-enter="saveEnteredText()" ng-esc="leaveTextArea()" style="height: 34px; resize: none;"></textarea>
	</div>
	
	<div class="modal fade" id="alert-modal">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{alertTitle}}</h4>
				</div>
				<div class="modal-body">
					<p>{{alertMessage}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- Velocity.js -->
	<script src="http://cdn.jsdelivr.net/velocity/1.2.0/velocity.min.js"></script>
	
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<script>
	var currentScrollPosition = -1;
	var textAreaIsFullSize = false;
	$(document).ready(function() {
		$('#textAreaPaste').focus(function() {
			var textAreaPasteHeight = $(window).height() - 20;
			if ($(window).width() < 768) {
				textAreaPasteHeight = 110;
			}
			
			$("#textAreaPaste").velocity({
				height: textAreaPasteHeight + "px"
			}, 500, function() {
				textAreaIsFullSize = true;
				$('body').css("overflow", "hidden");
			});
		});
		
		$('#textAreaPaste').focusout(function() {
			$("#textAreaPaste").velocity({
				height: "34px"
			}, 500, function() {
				textAreaIsFullSize = false;
				$('body').css("overflow", "");
			});
		});
	});
	
	$(window).resize(function() {
		if (textAreaIsFullSize) {
			$("#textAreaPaste").css({
				height: ($(window).height() - 20) + "px"
			});
		}
	});
	</script>
</body>
</html>
