<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- Socket.io client -->
	<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
	
	<!-- App logic controller -->
	<script src="/javascripts/angular-socket.js"></script>
	<script src="/javascripts/index_app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div class="page-header">
		<h1><%= title %> <small>by Viraj Chitnis</small></h1>
	</div>
	<br>
	<div class="container-fluid">
		<div class="panel panel-default" style="cursor: pointer;" ng-repeat="board in boards | orderBy:'name'" ng-click="openBoard(board._id)">
			<div class="panel-heading">
				<h3 class="panel-title">{{board.name}}</h3>
			</div>
			<div class="panel-body">
				<span ng-repeat="member in board.members">{{member}}<br></span>
			</div>
		</div>
	</div>
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- jQuery cookie -->
	<script src="https://cdn.rawgit.com/carhartl/jquery-cookie/7f88a4e631aba8a8c688fd8999ce6b9bcfd50718/jquery.cookie.js"></script>
	
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
